<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FrankHogan_WarrantySystem.Properties.Settings.FrankHogan_WarrantyConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=C:\Temp\Data\FrankHogan_Warranty.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FrankHogan_WarrantySystem.Properties.Settings.FrankHogan_WarrantyConnectionString1"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FrankHogan_Warranty.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>